@font-face {
  font-family: "GothamPro Bold";
  src: url(../fonts/GOTHAPROBOL.OTF) format('opentype');
}
@font-face {
  font-family: "GothamPro";
  src: url(../fonts/GOTHAPROREG.OTF) format('opentype');
}
@font-face {
  font-family: "AnaphoraTrialBold";
  src: url(../fonts/ANAPHORA-BOLD-TRIAL.TTF) format('opentype');
}