@font-face {
  font-family: "GothamPro Bold";
  src: url(../fonts/GothamPro/GOTHAPROBOL.otf) format('opentype');
}
@font-face {
  font-family: "GothamPro";
  src: url(../fonts/GothamPro/GOTHAPROREG.otf) format('opentype');
}
@font-face {
  font-family: "AnaphoraTrialBold";
  src: url(../fonts/Anaphora/ANAPHORA-BOLD-TRIAL.ttf) format('opentype');
}