.container {
  max-width: 1226px;
  margin: 0 auto;

  &--header {
    max-width: 1175px;

    @media (max-width: 1175px) {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}