@import 'global';
@import 'fonts';
@import 'variables/variables';
@import 'mixins/mixins';
@import 'blocks/header-block';
@import 'blocks/schedule-table-grid';
@import 'blocks/schedule-block';
@import 'blocks/routes-block';
@import 'blocks/about-block';
@import 'blocks/price-block';
@import 'blocks/order-block';
@import 'blocks/menu-block';
@import 'blocks/company-block';
@import 'blocks/contacts-block';
@import 'blocks/footer-block';
