# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
css/*.css
node_modules/
build/
npm-debug.*
Thumbs.db