$basic-white: #fff;
$light-blue: #edf7ff;
$font-blue: #145378;
$font-light-blue: #b5cede;
$table-azure: #75d5dd;
$dark-blue: #17415f;
$table-border: #c1d6e4;
$font-light-blue-label: #6993ad;
$font-dark-blue-label: #336a8a;
$middle-blue: #0f91bf;
$font-azure: #84aac1;
$menu-azure: #00bac0;
$menu-item-prop: #6c97b0;
$company-background: #06314a;
$company-text: #b6e2fc;