section.about
    div.container
        h2.about__header Катайся хоть целый день
        p.about__comment Покупай билет на целый день, садись и сходи в любой и четырех точек
        div.about-info
            div.about-info-time
                div.about-info-time__header Время действия предложения:
                div.about-info-time__limit #[span c] 11:00 #[span до] 19:00
            div.about-info-time-price
                div.about-info-time-price__header Стоимость:
                div.about-info-time-price__price 750 рублей
        div.about-description
            h3.about-description__header На остановках наших теплоходов вы можете увидеть:
            div.about-description-list-wrapper
                div.about-description-item
                    div.description-item-number 1 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Домик Петра"]
                    ul.description-item-list
                        li.description-item-list__point Домик Петра
                        li.description-item-list__point Крейсер Аврора
                        li.description-item-list__point Китайские львы Ши-Цза
                        li.description-item-list__point Петровская набережная
                        li.description-item-list__point Храм-часовная Святой Троицы
                div.about-description-item
                    div.description-item-number 2 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Домик Петра"]
                    ul.description-item-list
                        li.description-item-list__point Домик Петра
                        li.description-item-list__point Крейсер Аврора
                        li.description-item-list__point Китайские львы Ши-Цза
                        li.description-item-list__point Петровская набережная
                        li.description-item-list__point Храм-часовная Святой Троицы
                div.about-description-item
                    div.description-item-number 3 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Домик Петра"]
                    ul.description-item-list
                        li.description-item-list__point Домик Петра
                        li.description-item-list__point Крейсер Аврора
                        li.description-item-list__point Китайские львы Ши-Цза
                        li.description-item-list__point Петровская набережная
                        li.description-item-list__point Храм-часовная Святой Троицы
                div.about-description-item
                    div.description-item-number 4
                    div.description-item-name Остановка #[br] #[span "Домик Петра"]
                    ul.description-item-list
                        li.description-item-list__point Домик Петра
                        li.description-item-list__point Крейсер Аврора
                        li.description-item-list__point Китайские львы Ши-Цза
                        li.description-item-list__point Петровская набережная
                        li.description-item-list__point Храм-часовная Святой Троицы
