section.about
    div.container#conditions
        h2.about__header Катайся хоть целый день
        p.about__comment Покупай билет на целый день, садись и сходи в любой и четырех точек
        div.about-info
            div.about-info-time
                div.about-info-time__header Время действия предложения:
                div.about-info-time__limit #[span c] 11:00 #[span до] 19:00
            div.about-info-time-price
                div.about-info-time-price__header Стоимость:
                div.about-info-time-price__price 1000 рублей
        div.about-description
            h3.about-description__header На остановках наших теплоходов вы можете увидеть:
            div.about-description-list-wrapper
                div.about-description-item
                    div.description-item-number 1 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Домик Петра"]
                    ul.description-item-list
                        li.description-item-list__point Домик Петра
                        li.description-item-list__point Мечеть
                        li.description-item-list__point Уличный дом Петра Великого
                        li.description-item-list__point Ши-Цза - Львы
                        li.description-item-list__point Троицкий мост
                div.about-description-item
                    div.description-item-number 2 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Летний сад"]
                    ul.description-item-list
                        li.description-item-list__point Летний дворец Петра I
                        li.description-item-list__point Прачечный мост
                        li.description-item-list__point Памятник Суворову
                        li.description-item-list__point Памятник Александру III
                        li.description-item-list__point Мраморный дворец Санкт-Петербурга
                div.about-description-item
                    div.description-item-number 3 #[span - - - - -]
                    div.description-item-name Остановка #[br] #[span "Адмиралтейство"]
                    ul.description-item-list
                        li.description-item-list__point Памятник Царь Плотник
                        li.description-item-list__point Медный всадник
                        li.description-item-list__point Исакиевский собор
                        li.description-item-list__point Сфинксы
                        li.description-item-list__point Кунсткамера
                        li.description-item-list__point Биржа
                        li.description-item-list__point Растральные колонны
                div.about-description-item
                    div.description-item-number 4
                    div.description-item-name Остановка #[br] #[span "Петропавловская крепость"]
                    ul.description-item-list
                        li.description-item-list__point Заячий остров
                        li.description-item-list__point Военно-Исторический музей артилерии
                        li.description-item-list__point Зоопарк