section.company
    div.container
        div.company-info-wrapper
            h2.company__header О компании
            div.company__descor
                img(src='/img/icons/decor.png', alt='decor-img')
            h4.company__subheader Ваша безопасность - наш приоритет!
            p.company__text Судоходная компания "РиваЛайн" основана в апреле 2012 г. Основной вид деятельности — перевозка пассажиров внутренним водным транспортом.
            p.company__text В 2015 году компания объявлена Лауреатом Ежегодной национальной премии "Экономическая опора России"  с присвоением звания "Национально значимое предприятие". С 2015 г. почетный член Фонда поддержки предпринимательских инициатив.
            p.company__text Руководство ООО "РиваЛайн" открыто к сотрудничеству и благодарит вас за выбор нашей компании.
            p.company__text Лицензия МР-02 №000560 от 07.12.2012 г. #[br] Настоящая лицензия предоставлена на срок: бессрочно.
            div.company-docs-wrapper
                div.company-license
                    h5.company-license__header Лицензии #[br] и сертификаты
                    div.license-wrapper
                        div.license-item
                            img(src='/img/docs/lic1.jpg', alt='lic-img')
                        div.license-item
                            img(src='/img/docs/lic2.jpg', alt='lic-img')
                div.company-license
                    h5.company-license__header Благодарственные #[br] письма
                    div.license-wrapper
                        div.license-item
                            img(src='/img/docs/thx1.jpg', alt='lic-img')
                        div.license-item
                            img(src='/img/docs/thx2.jpg', alt='lic-img')
                        div.license-item
                            img(src='/img/docs/thx3.jpg', alt='lic-img')

