section.contacts
    div.container#contacts
        h2.contacts__header Контакты
        div.contacts-decor-wrapper
            img(src='./img/icons/decor.png', alt='decor-img')
        h2.contacts__name ООО "РиваЛайн"
        div.contacts-info-wrapper
            div.contacts-item
                span.contacts-item__header Офис компании:
                span Санкт-Петербург, #[br] Ораниенбаумская д.27, #[br]
                span 197110
            div.contacts-item
                span.contacts-item__header Отдел аренды #[br] и бронирования теплоходов:
                span +7 (812) 629-13-80
            div.contacts-item
                span.contacts-item__header Отдел по общим вопросам:
                span +7 (812) 600-47-27
            div.contacts-item
                span.contacts-item__header Email: #[br]
                span info@river-line.ru
    div.contacts-map-wrapper#map

