footer.page-footer
    div.container
        div.page-footer-wrapper
            span.page-footer__copyright © ООО “РиваЛайн”, ОГРН: 1127847165490, Лицензия МР-02 №000560 от 07.12.2012 г.
            span.page-footer__author Дизайн и разработка: компания #[span Boroda]