header.page-header
    div.container.container--header
        div.page-header-top-wrapper
            div.page-header-logo-wrapper
                a(href='index.html')
                    img(src='img/icons/logo.png', alt='logo-img')
            div.page-header-nav-wrapper
                div.page-header__phone +7 (812) 629-13-80
                nav.page-hedaer-nav
                    ul.page-header-nav-list
                        li.header-nav-list-item Главная
                        li.header-nav-list-item Теплоходы
                        li.header-nav-list-item Расписание
                        li.header-nav-list-item Цены
                        li.header-nav-list-item Условия
                        li.header-nav-list-item Виды мероприятий
                        li.header-nav-list-item Меню
                        li.header-nav-list-item О компании
                        li.header-nav-list-item Контакты

            div.nav-toggle-btn
                span
                span
                span
        h1.page-header__header Экскурсии на теплоходе по музейным маршрутам
        p.page-header__text Семейный праздник, дружеская встреча, юбилей или корпоратив на теплоходе гарантирует вам уникальые впечатления и эмоции
        div.callback-btn-wrapper
            button.page-header__callback Забронируйте по телфону