section.menu
    div.container
        div.menu-intro-wrapper
            div.menu-intro-left
                h2.menu__header Бар и барное меню
                p.menu__comment На музейном маршруте работает бар
            div.menu-intro-right
                a(href='#').menu-download-link Скачать все в PDF
        div.menu-example
            h4.menu-example__header Напитки
            div.menu-example-list
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
                div.menu-example-list-item
                    div.list-item__prop Вода с газом или без газа, 500мл
                    div.list-item__value 100
