section.menu
    div.container#menu
        div.menu-intro-wrapper
            div.menu-intro-left
                h2.menu__header Бар и барное меню
                p.menu__comment На музейном маршруте работает бар
            div.menu-intro-right
                a(href='#').menu-download-link Скачать все в PDF
        div.menu-example
            div.menu-example-list
                div.menu-example-block
                    h4.menu-example__header Напитки
                    div.menu-example-list-item
                        div.list-item__prop Вода с газом или без газа 500мл
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Кока-Кола / Фанта / Спрайт 500 мл 500мл
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Сок в ассортименте
                        div.list-item__value 100/400 рублей
                    div.menu-example-list-item
                        div.list-item__prop Чай гринфилд в ассортименте
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Кофе натуральный
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Кофе с молоком
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Пиво светлое 500 мл
                        div.list-item__value 200 рублей
                    div.menu-example-list-item
                        div.list-item__prop Игристое вино 750 мл
                        div.list-item__value 1500 рублей
                    div.menu-example-list-item
                        div.list-item__prop Вин белое или красное 150 / 750 мл
                        div.list-item__value 300 / 1300 рублей
                    div.menu-example-list-item
                        div.list-item__prop Водка царская золотая 50 мл
                        div.list-item__value 250 рублей
                    div.menu-example-list-item
                        div.list-item__prop Коньяк «Царь Тигран»
                        div.list-item__value 350 рублей
                    div.menu-example-list-item
                        div.list-item__prop Виск «Джемисон» 50 мл
                        div.list-item__value 350 рублей
                div.menu-example-block
                    h4.menu-example__header Еда
                    div.menu-example-list-item
                        div.list-item__prop Багет с лососем слобосоленым
                        div.list-item__value 200 рублей
                    div.menu-example-list-item
                        div.list-item__prop Багет с ветчиной
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Багет с сыром
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Бутерброд с сырокопченой колбасой
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Сэндвич с цыпленком
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Сосика в тесте
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Мини-Пицца
                        div.list-item__value 150 рублей
                    div.menu-example-list-item
                        div.list-item__prop Булочка с маком в шоколадной глазури
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Слойка с яблоками и корицей
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Круассан с малиновым вареньем
                        div.list-item__value 50 рублей
                    div.menu-example-list-item
                        div.list-item__prop Мини-шашлык из цыпленком с маринованным луком и соусом барбекю
                        div.list-item__value 200 рублей
                    div.menu-example-list-item
                        div.list-item__prop Мини шашлык из свинины с маринованным луком и соусом Барбекю
                        div.list-item__value 250 рублей
                    div.menu-example-list-item
                        div.list-item__prop Сухарики домашние острые
                        div.list-item__value 100 рублей
                    div.menu-example-list-item
                        div.list-item__prop Морковный пряник
                        div.list-item__value 50 рублей
                    div.menu-example-list-item
                        div.list-item__prop Песочное кольцо с арахисом
                        div.list-item__value 50 рублей

