div.popup-wrapper
    div.popup-module
        h1.popup-module__header Вы хотите забронировать:
        p.popup-module__date
        form.popup-module-form
            p.popup-module-form__header Выберит время:
            div.popup-module-input-wrapper
                div.custom-select
                    div.custom-select-actual.begin-time
                        input(type='text', name='start-time', data-readonly, value='12:00', required).time-input
                        i.fas.fa-chevron-down
                    ul.custom-select-variant-list.begin-time-variants-list
                        li(data-time='12:00').variant-list-item
                                span 12:00
                        li(data-time='13:00').variant-list-item
                                span 13:00
                        li(data-time='14:00').variant-list-item
                                span 14:00
                        li(data-time='15:00').variant-list-item
                                span 15:00
                        li(data-time='16:00').variant-list-item
                                span 16:00
                        li(data-time='17:00').variant-list-item
                                span 17:00
                        li(data-time='18:00').variant-list-item
                                span 18:00
                        li(data-time='19:00').variant-list-item
                                span 19:00
                        li(data-time='20:00').variant-list-item
                                span 20:00
                div.custom-select
                    div.custom-select-actual.begin-time
                        input(type='text', name='end-time',  data-readonly, placeholder='Время конца', required).time-input
                        i.fas.fa-chevron-down
                    ul.custom-select-variant-list.begin-time-variants-list
                        li(data-time='12:00').variant-list-item
                            span 12:00
                        li(data-time='13:00').variant-list-item
                            span 13:00
                        li(data-time='14:00').variant-list-item
                            span 14:00
                        li(data-time='15:00').variant-list-item
                            span 15:00
                        li(data-time='16:00').variant-list-item
                            span 16:00
                        li(data-time='17:00').variant-list-item
                            span 17:00
                        li(data-time='18:00').variant-list-item
                            span 18:00
                        li(data-time='19:00').variant-list-item
                            span 19:00
                        li(data-time='20:00').variant-list-item
                            span 20:00
            div.popup-module-input-wrapper
                input(type='text', name='name', placeholder='Имя', required).popup-module-form__input
                input(type='text', name='phone', placeholder='Телефон', required).popup-module-form__input
            div.popup-module-input-wrapper.popup-module-input-wrapper--agreement
                label
                    input(type='checkbox', name='agreement', required, checked)
                    span Я согласен с #[a условиями договора] и #[a политикой конфиденциальности]
            div.popup-module-input-wrapper
                input(type='submit', value='Забронировать').popup-module-form__submit
                div.order-price
                    span.order-price__header Стоимость:
                    span.order-price__number 1200
                    span.order-price__currency руб.
        span.popup-module__close