div.popup-wrapper
    div.popup-module
        h1.popup-module__header Вы хотите забронировать:
        p.popup-module__date
        form(method="POST", action="https://money.yandex.ru/eshop.xml", enctype="multipart/form-data").popup-module-form
            input(type="hidden", name="scid", value="21638")
            input(type="hidden", name="ShopID", value="30627", gt="", br="")
            div.popup-module-input-wrapper
                span.input-wrapper__instruction Выберите время:
                div.time-input-wrapper
                    div.custom-select.begin-time-wrapper
                        div.custom-select-actual.begin-time
                            input(type='text', name='start-time', data-readonly, value='12:00', required).time-input
                            i.fas.fa-chevron-down
                        ul.custom-select-variant-list.begin-time-variants-list
                            //- li(data-time='11:00').variant-list-item
                            //-     span 11:00
                            //- li(data-time='12:30').variant-list-item
                            //-     span 12:30
                            //- li(data-time='14:00').variant-list-item
                            //-     span 14:00
                            //- li(data-time='15:30').variant-list-item
                            //-     span 15:30
                            //- li(data-time='17:00').variant-list-item
                            //-     span 17:00
                            //- li(data-time='18:30').variant-list-item
                            //-     span 18:30
                            //- li(data-time='20:00').variant-list-item
                            //-     span 20:00

                    //- div.custom-select.custom-select--alldaycheck
                    //-     label.alldaycheck-input-wrapper
                    //-         input(type='checkbox', name='allday')
                    //-         span Весь день

            div.popup-module-input-wrapper
                span.input-wrapper__instruction Контакты:
                input(type='text', name='name', placeholder='Имя', required).popup-module-form__input
                input(type='text', name='phone', placeholder='Телефон', required).popup-module-form__input
            div.popup-module-input-wrapper.passenger-container
                span.input-wrapper__instruction Пассажиры:
                div.passenger-info-block
                    div.passenger-number
                        span.passenger-number__text Пассажир №
                        span.passenger-number__number 1
                    div.passenger-type-input
                        div.custom-select-actual.begin-time.passenger-type-input-wrapper
                            input(type='text', name='passenger-type', data-readonly, data-price='700', value='Взрослый', required).passenger-type-input
                            i.fas.fa-chevron-down
                            ul.custom-select-variant-list.begin-time-variants-list.custom-select-variant-list--passenger
                                li(data-price='1').variant-list-item Взрослый
                                li(data-price='2').variant-list-item Детский
                                li(data-price='3').variant-list-item Льготный
                    div.passenger-ticket-price
                        span.passenger-tickect-price__number 700
                        span.passenger-tickect-price__currency руб.
            div.popup-module-input-wrapper
                a.add-passenger-btn
                    span.add-passenger-btn__text + Добавить пассажира
            div.popup-module-input-wrapper.popup-module-input-wrapper--agreement
                label
                    input(type='checkbox', name='agreement', required, checked)
                    span Я согласен с #[a условиями договора] и #[a политикой конфиденциальности]
            div.popup-module-input-wrapper
                input(type='submit', value='Забронировать').popup-module-form__submit
                div.order-price
                    span.order-price__header Стоимость:
                    input(type="text", name="sum", value="1", data-readonly).order-price__number
                    span.order-price__currency руб.
        span.popup-module__close