section.price
    div.container#price
        h2.price__header Цены
        p.price__comment Цены на экскурсии по рекам и каналами Санкт-Петербурга в 2018 г.
        h3.price-ship__names Марго, Фаворит
        div.price-ship-info
            div.price-ship-info-class
                h5.price-ship-info-class__header Класс теплохода:
                div.price-ship-info-class__class P1.2
            div.price-ship-info-class
                h5.price-ship-info-class__header Количество мест:
                div.price-ship-info-class__class 35
        table.price-table
            tr
                th Тип билета
                th Низкий сезон 10.05-25.05
                th Высокий сезон 01.05-09.05 26.05 - 31.08
            tr
                td Взрослый
                td 500
                td 600
            tr
                td Льготный
                td 400
                td 400
            tr
                td Льготный
                td 400
                td 400
            tr
                td Льготный
                td 400
                td 400
        p.price-additional-info Цены, указанные на сайте, не являются публичной офертой. Актуальные цены на день покупки #[br] вы можете узнать по телефону +7 (812) 629-1380
        include order-block