section.price
    div.container#price
        h2.price__header Цены
        p.price__comment Цены на экскурсии по рекам и каналами Санкт-Петербурга в 2018 г.
        h3.price-ship__names Марго, Фаворит
        div.price-ship-info
            div.price-ship-info-class
                h5.price-ship-info-class__header Класс теплохода:
                div.price-ship-info-class__class P1.2
            div.price-ship-info-class
                h5.price-ship-info-class__header Количество мест:
                div.price-ship-info-class__class 35
        table.price-table
            tr
                th Тип билета
                th Цена
            tr
                td Взрослый
                td 700
            tr
                td Льготный (инвалиды/пенсионеры)
                td 400
            tr
                td Детский
                td 300
            tr
                td Абонемент на весь день
                td 1000
        p.price-additional-info Цены, указанные на сайте, не являются публичной офертой. Актуальные цены на день покупки #[br] вы можете узнать по телефону +7 (812) 629-1380
        include order-block