section.routes
    h2.routes__header Маршруты кораблей
    div.routes-decor-wrapper
        img(src='./img/icons/decor.jpg', alt='decor-img').routes-decor__img
    div.routes-decor-block
        div.container
            div.routes-schema-img-wrapper
                picture
                    source(media='(max-width:580px)', srcset='./img/content/mobile-routes-schema.jpg')
                    img(src='./img/content/routes-schema.jpg', alt='routes-scheme').routes-schema__img