section.schedule
    div.container#schedule
        h2.schedule__header Расписание #[br] занятости теплоходов
        p.schedule__comment Выберите нужный вам день и оставьте заявку на бронирование
        div.schedule-panel
            div.schedule-panel-date
                div.schedule-panel-date__btn.schedule-panel-date__btn--left
                    i.fas.fa-chevron-left
                div.schedule-panel-date__info Май 21.05 - 27.05
                div.schedule-panel-date__btn.schedule-panel-date__btn--right
                    i.fas.fa-chevron-right
            div.schedule-panel-choice
                span.schedule-panel-choice__text Экскурсионный теплоход:
                label.choice-btn
                    input(type='radio', name='ship', checked).ship-choice-input
                    span Марго
                label.choice-btn.choice-btn--hidden
                    input(type='radio', name='ship').ship-choice-input
                    span Фаворит
        div.schedule-table-grid-container
            table.schedule-table.schedule-table--ss
                tr
                    th
                    th Понедельник #[br]
                        span.order-date 21.05
                    th Вторник #[br]
                        span.order-date 22.05
                    th Среда #[br]
                        span.order-date 23.05
                    th Четверг #[br]
                        span.order-date 24.05
                    th Пятница #[br]
                        span.order-date 25.05
                    th Суббота #[br]
                        span.order-date 26.05
                    th Воскресенье #[br]
                        span.order-date 27.05
                tr
                    td(data-time='11:00') 11:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='11:30') 11:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='12:00') 12:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='12:30') 12:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='13:00') 13:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='13:30') 13:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='14:00') 14:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='14:30') 14:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='15:00') 15:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='15:30') 15:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='16:00') 16:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='16:30') 16:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='17:00') 17:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='17:30') 17:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='18:00') 18:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='18:30') 18:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='19:00') 19:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='19:30') 19:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='20:00') 20:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='20:30') 20:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='21:30') 21:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='22:00') 22:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='22:30') 22:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='23:00') 23:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='23:30') 23:30
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='00:00') 00:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
