doctype html
html
    include templates/head
    body.page
        include templates/header
        include templates/schedule
        include templates/routes
        include templates/about
        include templates/price
        include templates/menu
        include templates/company-info
        include templates/contacts
        include templates/footer-block
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
        script(src="js/yandex-map-config.js")
        script(src='js/sliderConfig.js')
        script(src='js/adaptiveMenu.js')

