doctype html
html
    include templates/head
    body.page
        include templates/header
        include templates/schedule
        include templates/routes
        include templates/about
        include templates/price
        include templates/menu
        include templates/company-info
        include templates/contacts
        include templates/footer-block
        include templates/slider-popup
        include templates/order-popup-block
        script(src='js/vendor/jquery-3.2.1.min.js')
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
        script(src="js/yandex-map-config.js")
        script(src='js/sliderConfig.js')
        script(src='js/adaptiveMenu.js')
        script(src='js/slider-popup.js')
        script(src='js/order-dropdown.js')
        script(src='js/scroll-into-view.js')
        script(src='js/week-table-switch.js')
        script(src='js/custom-select.js')

