.page-header {
  color: $basic-white;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../img/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: 680px) {
    padding-top: 35px;
    padding-bottom: 45px;
    background-image: url(../img/bg/mobile-bg.jpg);
  }
}
.page-header-top-wrapper {
  display: flex;
}
.page-header-nav-wrapper {
  flex: 0 1 960px;
  margin-left: 15px;



  @media (max-width: 1024px) {
    display: none;
    opacity: 0;
    transition: opacity .5s;

    &--mobile {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin-left: 0;
      padding-left: 25px;
      flex-direction: column-reverse;
      justify-content: space-between;
      background-color: #00bac0;
      animation-name: rollIn;
      animation-fill-mode: forwards;
      animation-duration: .8s;
      opacity: 1;
      z-index: 60;

      & .page-header-nav-list {
        display: flex;
        flex: 0 1 80%;
        flex-direction: column;
        justify-content: space-between;
        height: 365px;
        margin-top: 130px;

        @media (min-width: 768px) {
          margin-top: 230px;
        }
      }

      & .header-nav-list-item {
        font-size: 18px;
      }
    }
  }
}
.page-header-logo-wrapper {
  flex: 0 0 75px;
  margin-right: auto;
  z-index: 70;
}
.page-header-logo-wrapper img {
  max-width: 100%;
  height: auto;
}

.page-header__phone {
  @include gotham-bold;
  margin-bottom: 24px;
  font-size: 24px;
}
.page-header-nav-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}
.header-nav-list-item {
  @include gotham-reg;
  font-size: 14px;

  & a {
    text-decoration: none;
    color: $basic-white;
  }
}
.page-header__header {
  font-family: 'AnaphoraTrialBold', 'Arial', sans-serif;
  margin-top: 113px;
  margin-bottom: 60px;
  font-size: 48px;
  max-width: 605px;

  @media (max-width: 680px) {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 28px;
  }
}
.page-header__text {
  @include gotham-reg;
  max-width: 500px;
  margin-bottom: 75px;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: 680px) {
    margin-bottom: 60px;
  }
}
.page-header__callback {
  @include gotham-reg;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  font-size: 12px;
  color: $basic-white;
  background: linear-gradient(#00c6c4, #0079ac);
  border: none;
  cursor: pointer;
}
.callback-btn-wrapper {
  display: block;
  max-width: 300px;
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(1, 1, 1, 0.1);
}
.nav-toggle-btn {
  display: none;
  z-index: 70;

  @media (max-width: 1024px) {
    display: block;
    cursor: pointer;

    & span {
      display: block;
      width: 20px;
      height: 3px;
      margin-top: 5px;
      background-color: $basic-white;
    }
  }
}
@keyframes rollIn {
  from {top: -100%}
  to {top: 0%}
}