.order-panel {
  position: absolute;
  bottom: 0;
  width: 1175px;
  transform: translateY(50%);
  background-color: $basic-white;
  display: flex;
  max-height: 465px;

  @media (max-width: 1180px) {
    position: static;
    width: auto;
    transform: translate(0%);
    margin-left: -10px;
    margin-right: -10px;
  }

  @media (max-width: 1120px) {
  }

  @media (max-width: 740px) {
    position: relative;
    flex-direction: column;
    max-height: inherit;
  }
}
.order-toggle-wrapper {
  padding-top: 56px;
  padding-left: 53px;
  padding-bottom: 25px;

  @media (max-width: 1035px) {
    padding-top: 25px;
    padding-left: 15px;
  }

  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.order-panel-toggle {
  display: flex;
  width: 300px;
  margin-bottom: 65px;
  justify-content: space-between;

  @media (max-width: 740px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    background-color: #edf7ff;
  }
}
.order-toggle-button {
  display: flex;
  align-items: flex-end;
  opacity: 0.6;
  cursor: pointer;

  &--active {
    opacity: 1;
  }

}
.order-toggle-button-icon {
  margin-right: 10px;
}
.order-toggle-button-text {
  @include gotham-reg;
  font-size: 12px;
  color: #84aac1;

  & span {
    @include gotham-bold;
    color: $dark-blue;
    font-size: 16px;
  }
}
.ship-info__header {
  @include anaphora;
  margin-bottom: 40px;
  font-size: 48px;
  color: $dark-blue;
  font-weight: normal;

  @media (max-width: 580px) {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 38px;
  }
}
.ship-info-params {
  display: flex;
  margin-bottom: 45px;

  @media (max-width: 560px) {
    flex-wrap: wrap;
  }

}

.order-panel-controls-wrapper {
  display: flex;

  @media (max-width: 740px) {
    flex-direction: column;
  }
}
.ship-params__class {
  @include gotham-reg;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: $font-azure;
  margin-right: 68px;
  flex-shrink: 0;

  & span:last-of-type {
    @include gotham-bold;
    font-size: 24px;
    color: $dark-blue;
  }

  @media (max-width: 768px) {
    flex-shrink: 1;
  }

  @media (max-width: 580px) {
    margin-bottom: 15px;
  }
}
.order-panel__buy,
.order-panel__schedule {
  @include gotham-bold;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 50px;
  height: 50px;

  @media (max-width: 580px) {
    margin-bottom: 15px;
  }
}
.order-panel__buy {
  background: linear-gradient(#00c6c4, #0079ac);
  color: $basic-white;
  margin-right: 32px;

  @media (max-width: 580px) {
    margin-right: 0;
  }
}
.order-panel__schedule {
  border: 1px solid #a1bac9;
  color: #336a8a;
}
.order-panel-slider {
  position: relative;
  flex: 0 1 400px;

  @media (max-width: 740px) {
    flex: 0 1 270px;
    margin-top: 90px;
  }
}
.order-panel-slider__item {
  display: none;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  &--active {
    display: block;
    animation-name: FadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }

  @media (max-width: 740px) {
    height: 270px;
  }
}
.order-panel-slider-controls{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  color: $basic-white;
}
.order-panel-slider-controls i {
  font-size: 28px;
  cursor: pointer;
  transition: .4s;

  &:hover {
    color: $table-azure;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


