.routes {
  position: relative;
  padding-top: 95px;  
  padding-bottom: 350px;
  background-color: #edf7ff;

  @media (max-width: 1200px) {
    padding-bottom: 0;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
  }
}
.routes .container {
  overflow: hidden;
}
.routes__header {
  @include anaphora;
  margin-top: 0;
  text-align: center;
  font-size: 48px;
  color: $dark-blue;

  @media (max-width: 580px) {
    font-size: 24px;
  }
}
.routes-decor-wrapper {
  width: 135px;
  margin: 0 auto;  

  @media (max-width: 1200px) {
    margin-bottom: 45px;
  }
}
.routes-decor__img {
  max-width: 100%;
  height: auto;
}
.routes-schema-img-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 50;

  @media (max-width: 1200px) {
    width: 100%;
    position: static;
    transform: translate(0%);
  }

  @media (max-width: 768px) {
    width: 768px;
    overflow: scroll;
  }
}
.routes-schema-img-wrapper img {
  @media (max-width: 1200px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    width: 1024px;
  }
}
